<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> <!-- we are in the public folder here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    
    <title>My To Do List</title>
</head>
<body id="todo">
    
    <h1 id="todoHeading">Things To Do:</h1>
    <main>
        <div>
            <p id="todotext"><%= tagline %> </p>
        </div>
    </main>
    <a href="/downloadnow" class="bluebutton">Download PDF</a>
    
</body>

</html>